/* John Vance */


.green_background {
    background-color: hsl(133, 22%, 53%);
}

.header_underline {
    text-decoration: underline;
    line-height: 5px;
}

.header_zero_line_height {
    line-height: 0px;
}

.footer_bio {
    text-align: center;
    margin: 10px;
    border-style: solid;
    border-width: 4px 4px;
}

.heading_purple {
    text-decoration: none;
    color: hsl(284, 22%, 47%);
}

#game_canvas {
    border: 2px solid;
}
